*,
*::before,
*::after {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
li {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

ol,
ul {
  list-style: none;
}

img {
  display: block;
}

font{
  size:1em;
  line-height: 1,5em;
}
section {
  padding: 120px 0;
}

body {
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  color: #434455;
  height: 3330px;
}
.container {
  width: 1158px;
  max-width: 1440px;
  align-items: center;
  margin: 0 auto;
  padding: 0 15px;
}

.page-header {
  height: 72px;
  border-bottom: 1px solid #e7e9fc;
  gap: 30px;
}
.container-header {
  display: flex;
  max-width: 1158px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
 
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content:space-between;

}
.container .page-menu-list {
  display: flex;
  gap: 40px;
}

.container .address {
  display: flex;
  gap: 30px;
}

.nav-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.3125em;
  letter-spacing: 3%;
  color: #2e2f42;
  text-decoration: none;
  margin-right: 76px;
}
.title-web {
  color: #4d5ae5;
}
.title-studio {
  color: #2e2f42;
}

.page-menu-list {
    list-style-type: none;
    display: flex;
    width: 261px;
    gap: 40px;
    color: #2E2F42;
    
  }

.page-menu-list :hover,
.page-menu-list :focus {
  color: #404bbf;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link{
  position: relative;
  display: inline-block;
  color: #2E2F42;
  text-decoration: none;
  font-weight:400px;
  font-size:16px;
  line-height: 1.3125em;
  letter-spacing:3%;
  padding: 24px 0;
 
}

.active::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
  transform: scaleX(0); 
  transform-origin: left; 
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.active:hover::after {
  transform: scaleX(1); 
}

.contact {
  display: flex;
  gap: 40px;
}


.contact-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.contact .link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
  padding: 24px 0;
 
}
.contact-list-item :hover,
.contact-list-item :focus {
  color: #404bbf;
} 
.effective{
  width: 1440px;
  background-color: #2E2F42;
  background-image:linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office\ 1.png);
  background-size: 1440px cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 600px;
  text-align: center;
  margin: 0 auto;
  padding: 188px 0;
  
}
.effective {
  background-color: #2e2f42;
  text-align: center;
  color: #ffffff;
  height: 600px;
  margin: 0 auto;
  padding: 188px 0;
}

.effective-title{
  font-weight: 700px;
  font-size: 56px;
  line-height: 1em;
  letter-spacing: 2%;
  padding-bottom: 48px;
  margin: 0 auto;
  max-width: 496px;
  color: #ffffff;
}

.button-sec {
  background-color: #4d5ae5;
  color: #ffffff;
  cursor: pointer;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  display: block;
  margin: 0 auto;
}
.button-sec:hover,
.button-sec:focus {
  background-color: #404bbf;
}



.visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  } 

  .features-of-website-list-svgs {
    width: 264px;
    height: 112px;
    border: 1px solid #8e8f99;
    background-color: #F4F4FD;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;;
  }

.features-of-website-list {
  display: flex;
  gap: 24px;
}

.features-of-website h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5em;
  letter-spacing: 2%;
  color: #2e2f42;
}

.features-of-website-list-item {
  list-style: none;
  width: calc((100% - 72px) / 4);
  flex-basis: calc((100% - 72px) / 4);

}
.features-of-website p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 2%;
  color: #434455;
}

.features-of-website .features-of-website-list-title{
  margin-bottom:8px;

}

.our-team{
  background-color: #F4F4FD;
}
.our-team-title{
  margin-bottom: 72px;
}

.our-team-cardset{
  display: flex;
  gap: 24px;
  align-items: center;
  text-align: center;
}
.our-team h2{
  color: #2E2F42;
  font-weight:700px;
  font-size:36px;
  line-height:2.5em;
  letter-spacing: 2%;
  text-align: center;
}
.our-team-item{
  width: calc((100% - 72px) / 4);
  list-style-type: none;
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 10px #2e2f4248;
}

.our-team-member{
  color:#2E2F42;
  font-weight: 500;
  font-size: 20 px;
  line-height: 1.5em;
  initial-letter: 2%;
  margin-bottom: 8px;

}
.our-team-member-department{
text-align: center;
}
.our-team img{
  width:264px;
  height:260px;
}
.staff{
  padding: 32px 0;
}

.our-team p{
  font-weight:400;
  font-size:16px;
  line-height:1.5em;
  letter-spacing: 2%;
}
.social-icons-list {
  display:flex;
  justify-content: space-between;
  gap: 8px;
  padding:16px 16px 0 16px;
 
}
.social-icon :hover,
.social-icon :focus{
  --color2:#31d0aa;
  transition: --color1 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.our-portfolio {
  font-weight: 700;
  font-size: 36px;
  line-height: 2.5em;
  letter-spacing: 2%;
  color: #2e2f42;
  padding: 120px 0;
}
.our-portfolio .container{
  padding: 32px 0
}
.our-portfolio-title {
  text-align: center;
  margin-bottom: 72px;
}
.our-portfolio-cardset {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}


.our-portfolio-list {
  width: calc((100% - 48px) / 3);

}

.border {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.our-portfolio img {
  width: 360px;
  height: 300px;
}
.our-portfolio .our-portfolio-item{
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5em;
  letter-spacing: 2%;
  margin-bottom: 8px;
}
.our-portfolio p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 2%;
 
}
.our-portfolio-list:hover{
  box-shadow: 0px 1px 6px #2e2f4216;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.our-portfolio-list{
  position: relative;
  overflow: hidden;
}
.overlay{
  display: block;
  padding: 8px;
  background-color: #3f51b5;
  color: #fff;
  font-family: sans-serif;
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms ease-in-out; 
  padding: 40px 32px;
  
  }
  .our-portfolio-list:hover .overlay{
    transform: translateY(0);
    height: 300px;
  }
.footer-sec {
  background-color: #2e2f42;
  color: #ffffff;
  height: 312px;
  padding: 100px 0;
  align-items: flex-start;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.3125em;
  letter-spacing: 3%;
  display: inline-block;
  margin-bottom: 16px;
  text-decoration: none;
}

.web-title {
  color: #4d5ae5;
}
.studio-title {
  color: #f4f4fd;
}
.footer-text{
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 2%;
  max-width: 264px;
  color: #f4f4fd;
  max-width: 264px;
}
.logo-text{
  display: inline-block;
  width: 264px;
}
.social-media-footer{
  display:inline-block;
  margin-left: 120px;
}
.social-icons-list-footer{
  display:flex;
  justify-content: space-between;
  padding-top:16px;
  gap:16px;
}